.appbar {
  margin: 1.2rem auto;
  padding: 0.8rem 1.6rem;
  border-radius: 5rem;
  background: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  .appbar-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .appbar-title {
      margin-left: 1rem;
    }
  }
}