.appbar {
  padding: 0 $size-md;
  .main-search {
    @include flex(center, center);
    .paper {
      @include flex(center, center);
      border: solid 1px $primary-clr;
      border-radius: $radius;
      box-shadow: none;
      width: 300px;
      padding: 0 $size-sm;
    }
  }
  .user-action {
    @include flex(space-between, center);
  }
}

@media (max-width: 900px) {
  .appbar {
    .main-search {
      display: none;
    }
  }
}
