button.btn-primary {
  background: linear-gradient(to bottom right, $secondary, $tertiary);
  border-radius: 5rem;
  box-shadow: none;
  padding: 0.6rem 1.2rem;
  text-transform: capitalize;
  &:hover {
    box-shadow: none;
    background: linear-gradient(to bottom right, $tertiary, $secondary);
  }
}