button.btn-primary {
  background: linear-gradient(to bottom right, $primary-clr, $primary-clr);
  border-radius: $radius;
  color: $light;
  padding: $size-sm $size-lg;
  font-size: $font-sm;
  box-shadow: none;
  border: solid 1px $primary-clr;
  &:hover {
    background: linear-gradient(to bottom right, $primary-clr, $primary-clr);
  }
  // @include xl {
  //   padding: $size-md $size-xl;
  // }
}

button.btn-secondary {
  border: solid 1px linear-gradient(to bottom right, $primary-clr, $primary-clr);
  border-radius: $radius;
  color: $primary-clr;
  padding: $size-sm $size-lg;
  font-size: $font-sm;
  margin-right: $size-sm;
  &:hover {
    border: solid 1px linear-gradient(to bottom right, $primary-clr, $primary-clr);
  }
}