.dashboard {
  .grid-item, .grid-filter {
    background: $light;
    border-radius: $size-sm;
    height: 300px;
  }
  .grid-filter {
    padding: $size-md;
    height: 60px;
    box-sizing: border-box;
    @include flex(left, center, row);
    .filter-label {
      margin-right: $size-sm;
    }
  }
}