.landing {
  text-align: center;
  .section {
    margin: 10rem auto;
    .title {
      width: 900px;
      font-weight: bold;
    }
    .subtitle {
      color: grey;
      font-size: 18px;
      padding: 1rem;
    }
  }
}