.layout {
  .content {
    background: $bg-clr;
    min-height: 92vh;
    overflow: scroll;
    padding-top: 5vh;
    width: 100vw;
    box-sizing: border-box;
    @include flex(space-between, top, row);
    .aside {
      width: 3vw;
    }
    .context {
      width: 97vw;
      box-sizing: border-box;
      padding: 1%;
      padding-left: 2%;
    }
  }
}