@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid($col, $gap) {
  display: grid;
  grid-template-columns: repeat($col, 100/$col);
  gap: $gap;
}
