.sidebar {
  background: $light;
  height: 93vh;
  position: fixed;
  left: 0;
  top: 7vh;
  // border-right: solid 1px $mild;
  @include flex(column, top, column);
  .active-link, .link {
    padding: $size-sm;
  }
}