.toast-container {
  position: fixed;
  top: 30px;  
  left: 50%;
  transform: translateX(-50%); 
  z-index: 1000;
}

.toaster {
  background-color: $light;
  color: $dark;
  padding: $size-sm;
  border-radius: $size-sm;
  margin-bottom: 10px; 
  min-width: 250px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.toaster.info {
  color: $primary-clr;
  border: solid 1px $primary-clr;
}

.toaster.success {
  color: #4caf50;
  border: solid 1px #4caf50;
}

.toaster.error {
  color: #f44336;
  border: solid 1px #f44336;
}

.toaster p {
  margin: 0;
  font-size: 16px;
  text-align: center;
}
