.tooltip {
  position: relative;
  display: inline-block;

  .tooltip-label {
    display: none;
    position: absolute;
    background: $dark;
    color: $light;
    padding: $size-sm;
    border-radius: $size-sm;
    box-shadow: 0 0 4px 0 $mild;
    white-space: nowrap;
    z-index: 1000;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.3s ease-in-out;
    font-size: $font-sm;
  }

  .top {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -10px);
  }

  .bottom {
    top: 60%;
    left: 50%;
    transform: translate(-50%, 10px);
  }

  .right {
    top: 20%;
    left: 100%;
    transform: translate(10px, -50%);
  }

  .left {
    top: 10%;
    right: 110%;
    transform: translate(-10px, -50%);
  }

  &:hover .tooltip-label {
    display: block;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
