.user-creation {
  .user-creation-content {
    background: $light;
    min-height: 80vh;
    border-radius: $size-sm;
  }
  .user-creation-steps {
    padding: $size-md;
    text-align: center;
  }
}