// colors
$primary-clr: royalblue;
$secondary-clr: lightblue;
$tertiary-clr: darkblue;
$light: #ffffff;
$dark: #2f2f2f;
$mild: #f6f6f6;
$active: #00CCDD;
$notification: palevioletred;
$bg-clr: #f0f0f0;

// size
$size-sm: 0.5rem;
$size-md: 0.9rem;
$size-lg: 1.2rem;
$size-xl: 2rem;

$radius: 0.5rem;

// font size
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
$font-xl: 18px;
$font-xxl: 22px;
$font-xxxl: 30px;

// spacing
$spacing-unit: 8px;
$spacing-sm: $spacing-unit;
$spacing-md: $spacing-unit * 2;
$spacing-lg: $spacing-unit * 3;
$spacing-xl: $spacing-unit * 4;

// screen
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1400px;
