// colors
$primary-clr: royalblue;
$secondary-clr: lightblue;
$tertiary-clr: darkblue;
$light: #ffffff;
$dark: #000000;

// size
$size-sm: 0.3rem;
$size-md: 0.9rem;
$size-lg: 1.2rem;
$size-xl: 2rem;
$radius: 50rem;