@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@import 'react-date-range/dist/styles.css'; // main style file
@import 'react-date-range/dist/theme/default.css'; // theme css file
@import './variables.scss';
@import './mixins.scss';
@import './layout.scss';
@import './button.scss';
@import './appbar.scss';
@import './sidebar.scss';
@import './icons.scss';
@import './dashboard.scss';
@import './user-creation.scss';
@import './setting.scss';
@import './tooltip.scss';
@import './breadcrumb.scss';
@import './typography.scss';
@import './notfound.scss';
@import './toaster.scss';
@import './tabs.scss';
@import './stepper.scss';
@import './dateRange.scss';
@import './register.scss';

:root {
  --primary-clr: #{$primary-clr};
  --secondary-clr: #{$secondary-clr};
  --active-clr: #{$active};
  --icon-badge-clr: #{$notification};
}

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  color: $dark;
}

a {
  text-decoration: none;
  color: $dark;
}